In [1]:
import pandas as pd

In [2]:
newfile = '/Users/christinemagnotta/pandas-challenge/HeroesOfPymoli/purchase_data.csv'
pymoliHero = pd.read_csv(newfile)

In [5]:
pymoliHero

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [8]:
pymoliHero = pd.DataFrame(data=pymoliHero) #this is creating a new dataframe class, 
#Player Count

PlayersplayersData = pymoliHero.loc[:,"SN"]

In [14]:
#Player Count

cleanplayers = PlayersplayersData.drop_duplicates()

In [15]:
cleanplayers

0            Lisim78
1        Lisovynya38
2         Ithergue48
3      Chamassasya86
4          Iskosia90
           ...
773           Hala31
774       Jiskjask80
775       Aethedru70
777       Yathecal72
778          Sisur91
Name: SN, Length: 576, dtype: object

In [16]:
cleanplayers.describe() #The total number unique players is 576.

count            576
unique           576
top       Yalaeria91
freq               1
Name: SN, dtype: object

In [17]:
#Purchasing Analysis (Total)

#Number of Unique Items
#Average Purchase Price
#Total Number of Purchases
#Total Revenue


pymoliHero

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [ ]:
#Number of Unique Items

In [19]:
pymoliHero.loc[:,"Item ID"]

0      108
1      143
2       92
3      100
4      131
      ...
775     60
776    164
777     67
778     92
779     50
Name: Item ID, Length: 780, dtype: int64

In [20]:
pymoliHero['Item ID'].value_counts()

92     13
178    12
108     9
132     9
82      9
       ..
104     1
27      1
134     1
118     1
91      1
Name: Item ID, Length: 179, dtype: int64

In [ ]:
#So it looks like there are 179 unique items.
#The most frequently purchased item is Item ID 92 with 13 purchases.
#But there were 780 total items purchased.
#So 179 ITEM IDs but a total of 780 purchases.

In [22]:
#Average Purchase Price
average_item_price = pymoliHero["Price"].mean()
average_item_price

3.050987179487176

In [ ]:
#The average price is $3.05

In [25]:
#Total Number of Purchases
purchase_count = pymoliHero["Price"].count()
purchase_count

780

In [ ]:
#The total number of purchases is 780.

In [26]:
#Total Revenue
total_purchase_value = pymoliHero["Price"].sum()
total_purchase_value

2379.77

In [ ]:
#The sum of all of the purcahses is $2379.77.

3.050987179487176

In [6]:
total_purchase_value

2379.77

In [7]:
purchase_count

780

In [8]:
#Ooops. Forgot to get the total number of players. I will count by SN

total_players = pymoliHero["SN"].count()

In [9]:
total_players

780

In [11]:
#just for my own piece of mind, I am going to see if there are any duplicate players.
total_players2 = pymoliHero["SN"].drop_duplicates()

In [12]:
total_players2.count

<bound method Series.count of 0            Lisim78
1        Lisovynya38
2         Ithergue48
3      Chamassasya86
4          Iskosia90
           ...
773           Hala31
774       Jiskjask80
775       Aethedru70
777       Yathecal72
778          Sisur91
Name: SN, Length: 576, dtype: object>

In [13]:
#Hey! There were duplicates! The total number of players was 576.

#gender purchase

gender_percentage = (female_purchase/576),(other_purchase/576),(male_purchase/576)

In [20]:
#Okay, I seem to have lost everything. This is annoying.

#Gender Demographics, Part Trois.
#I'm going to try to re-reset the data.

import pandas as pd

newfile = '/Users/christinemagnotta/pandas-challenge/HeroesOfPymoli/purchase_data.csv'
pymoliHero = pd.read_csv(newfile)

pymoliGenderData = pd.DataFrame(data=pymoliHero)
pymoliGenderData.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [23]:
gender_purchase = pymoliGenderData.groupby(["Gender", "SN"]).sum()["Price"]
male_purchase = gender_purchase[("Male")].unique
female_purchase = gender_purchase[("Female")].unique
other_purchase = gender_purchase[("Other / Non-Disclosed")].unique

In [24]:
male_purchase

<bound method Series.unique of SN
Adairialis76    2.28
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Aelastirin39    7.29
                ...
Yasur85         1.10
Yathecal72      3.46
Yathedeu43      6.02
Zhisrisu83      7.89
Zontibe81       8.03
Name: Price, Length: 484, dtype: float64>

In [25]:
female_purchase

<bound method Series.unique of SN
Adastirin33      4.48
Aerithllora36    8.64
Aethedru70       3.54
Aidain51         3.45
Aiduesu86        4.48
                 ...
Wailin72         2.73
Yana46           3.55
Yarithrin84      4.14
Yathecal82       6.22
Yoishirrala98    4.58
Name: Price, Length: 81, dtype: float64>

In [31]:
other_purchase

<bound method Series.unique of SN
Airi27          3.45
Chanosian48     7.52
Eodaisu60       3.94
Haerithp41      4.40
Idairin51       7.00
Jiskirran77     3.39
Lirtim36        1.33
Maluncil97      5.28
Rairith81       2.22
Siarithria38    6.91
Sundim98        4.75
Name: Price, dtype: float64>

In [52]:
####Gender Purchase Analysis


import pandas as pd

newfile = '/Users/christinemagnotta/pandas-challenge/HeroesOfPymoli/purchase_data.csv'
pymoliHero = pd.read_csv(newfile)

pymoliGenderAnalysis = pd.DataFrame(data=pymoliHero)
pymoliGenderAnalysis.head(10)



#Assignment -- The below each broken by gender

#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Gender

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [53]:
gender_purchase_total = pymoliGenderAnalysis.groupby(["Gender"]).sum()["Price"]

In [54]:
gender_purchase_total   #Total purchases by gender

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [57]:
gender_item_purchase = pymoliGenderAnalysis.groupby(["Gender"]).sum()["Item ID"]

In [58]:
gender_item_purchase   #ooops. this is adding up the item IS. which isn't counting the # of items

Gender
Female                    9659
Male                     60698
Other / Non-Disclosed     1212
Name: Item ID, dtype: int64

In [59]:
gender_item_purchase = pymoliGenderAnalysis.groupby(["Gender"]).count()["Item ID"]

In [60]:
gender_item_purchase #total iteams per gender

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item ID, dtype: int64

In [63]:
gender_purchase_average = pymoliGenderAnalysis.groupby(["Gender"]).mean()["Price"]

In [64]:
gender_purchase_average   #average purchase price by gender.

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [65]:
gender_unique = pymoliGenderAnalysis.groupby(["Gender", "SN"]).mean()["Price"]

In [68]:
gender_unique

Gender                 SN
Female                 Adastirin33      4.480
                       Aerithllora36    4.320
                       Aethedru70       3.540
                       Aidain51         3.450
                       Aiduesu86        4.480
                                        ...
Other / Non-Disclosed  Lirtim36         1.330
                       Maluncil97       2.640
                       Rairith81        2.220
                       Siarithria38     3.455
                       Sundim98         4.750
Name: Price, Length: 576, dtype: float64

In [5]:
#Age Demographics
#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Age Group


#In this I want Price, SN, which is the user UD, and Age.

import pandas as pd
import numpy as np

newfile = '/Users/christinemagnotta/pandas-challenge/HeroesOfPymoli/purchase_data.csv'
pymoliHero = pd.read_csv(newfile)

pymoliAgeAnalysis = pd.DataFrame(data=pymoliHero)
pymoliAgeAnalysis.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [6]:
age_purchase_value = pymoliAgeAnalysis.groupby(["Age"]).sum()["Price"]

In [9]:
BinnedPymoliAgeAnalysis = pymoliAgeAnalysis

In [ ]:
age_purchase_value = BinnedPymoliAgeAnalysis.groupby(["Age"]).sum()["Price"]
pymoliAgeAnalysis["Age Ranges"] = pd.cut(pymoliAgeAnalysis["Age"], age_bins, labels=group_names)

In [11]:
age_purchase_value

Age
7      32.89
8      25.97
9      18.27
10     31.83
11     18.79
12     15.80
13      9.45
14      6.91
15    105.65
16     90.56
17     64.48
18     82.22
19     69.98
20    314.32
21    180.74
22    206.85
23    201.93
24    210.22
25    181.90
26     40.19
27     27.23
28      8.45
29     35.23
30    110.32
31     24.05
32     22.69
33     34.81
34     22.13
35     52.03
36     12.66
37     25.51
38     34.15
39     23.32
40     16.71
41      6.54
42      3.93
43      4.00
44      5.36
45      1.70
Name: Price, dtype: float64

In [13]:
age_purchase_avg = pymoliAgeAnalysis.groupby(["Age"]).mean()["Price"]

In [14]:
age_purchase_avg.describe

<bound method NDFrame.describe of Age
7     3.654444
8     3.246250
9     3.045000
10    3.536667
11    2.684286
12    2.633333
13    2.362500
14    3.455000
15    3.018571
16    3.018667
17    2.930909
18    3.162308
19    3.042609
20    3.174949
21    2.915161
22    2.955000
23    3.013881
24    3.137612
25    3.083051
26    2.870714
27    2.723000
28    1.690000
29    2.710000
30    3.152000
31    3.435714
32    2.836250
33    2.486429
34    2.458889
35    3.716429
36    2.532000
37    3.644286
38    3.794444
39    3.886667
40    2.785000
41    3.270000
42    3.930000
43    4.000000
44    2.680000
45    1.700000
Name: Price, dtype: float64>

In [15]:
#Age Demographics Part Deux
#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Age Group


#In this I want Price, SN, which is the user UD, and Age.

import pandas as pd
import numpy as np

newfile = '/Users/christinemagnotta/pandas-challenge/HeroesOfPymoli/purchase_data.csv'
pymoliHero = pd.read_csv(newfile)

pymoliAgeAnalysis = pd.DataFrame(data=pymoliHero)
pymoliAgeAnalysis.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [16]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
pymoliAgeAnalysis["Age Ranges"] = pd.cut(pymoliAgeAnalysis["Age"],age_bins, labels=group_names)

In [17]:
age_price = pymoliAgeAnalysis.groupby(["Age Ranges"]).sum()["Price"]

In [18]:
age_price

Age Ranges
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [19]:
age_count = pymoliAgeAnalysis.groupby(["Age Ranges"]).count()["Item ID"]

In [20]:
age_count

Age Ranges
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Item ID, dtype: int64

In [21]:
age_price_mean = pymoliAgeAnalysis.groupby(["Age Ranges"]).mean()["Price"]

In [22]:
age_price_mean

Age Ranges
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [25]:
#Top Spenders
import pandas as pd
import numpy as np

newfile = '/Users/christinemagnotta/pandas-challenge/HeroesOfPymoli/purchase_data.csv'
pymoliHero = pd.read_csv(newfile)

spendingAnalysis = pd.DataFrame(data=pymoliHero)
spendingAnalysis.head(10)


#Identify the top 5 spenders in the game by total purchase value, then list (in a table):

#SN
#Purchase Count
#Average Purchase Price
#Total Purchase Value

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [70]:
spenders = spendingAnalysis.groupby(["SN"]).sum()["Price"]

In [73]:
spenders

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [75]:
spenders.sort_values(ascending=False)

SN
Lisosia93      18.96
Idastidru52    15.45
Chamjask73     13.83
Iral74         13.62
Iskadarya95    13.10
               ...
Irilis75        1.02
Isurria36       1.02
Chanirra79      1.01
Aidai61         1.01
Alo38           1.00
Name: Price, Length: 576, dtype: float64

In [76]:
topSpenders = spenders.sort_values(ascending=False)

In [77]:
topSpenders.head(5)

SN
Lisosia93      18.96
Idastidru52    15.45
Chamjask73     13.83
Iral74         13.62
Iskadarya95    13.10
Name: Price, dtype: float64

In [78]:
#I need #Purchase Count + Average Purchase Price, too

In [87]:
top_spenders = spendingAnalysis.groupby(['SN']).agg({"Price":[sum],"Purchase ID": 'count'})

In [94]:
top_spenders.max

<bound method DataFrame.max of               Price Purchase ID
                sum       count
SN
Adairialis76   2.28           1
Adastirin33    4.48           1
Aeda94         4.91           1
Aela59         4.32           1
Aelaria33      1.79           1
...             ...         ...
Yathecal82     6.22           3
Yathedeu43     6.02           2
Yoishirrala98  4.58           1
Zhisrisu83     7.89           2
Zontibe81      8.03           3

[576 rows x 2 columns]>

In [97]:
top_spenders_sum = spendingAnalysis.groupby(['SN']).agg(['sum'])

In [98]:
top_spenders_sum

,Purchase ID,Age,Gender,Item ID,Item Name,Price
,sum,sum,sum,sum,sum,sum
SN,,,,,,
Adairialis76,467,16,Male,123,Twilight's Carver,2.28
Adastirin33,142,35,Female,175,Woeful Adamantite Claymore,4.48
Aeda94,388,17,Male,128,"Blazeguard, Reach of Eternity",4.91
Aela59,28,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
Aelaria33,630,23,Male,171,Scalpel,1.79
...,...,...,...,...,...,...
Yathecal82,1400,60,FemaleFemaleFemale,241,Piece MakerBrutality Ivory WarmaceGladiator's ...,6.22
Yathedeu43,688,44,MaleMale,143,"Emberling, Defender of DelusionsVindictive Gla...",6.02
Yoishirrala98,572,17,Female,145,Fiery Glass Crusader,4.58
Zhisrisu83,195,20,MaleMale,85,Hero CaneWolf,7.89
Zontibe81,1019,63,MaleMaleMale,247,DevineArcane GemVerdict,8.03

In [106]:
top_spenders_mean = spendingAnalysis.groupby(['SN']).agg(['mean']) #Okay, I have the mean of purchases by SN

In [106]:
top_spenders_mean.head()

,Purchase ID,Age,Gender,Item ID,Item Name,Price
,sum,sum,sum,sum,sum,sum
SN,,,,,,
Adairialis76,467,16,Male,123,Twilight's Carver,2.28
Adastirin33,142,35,Female,175,Woeful Adamantite Claymore,4.48
Aeda94,388,17,Male,128,"Blazeguard, Reach of Eternity",4.91
Aela59,28,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
Aelaria33,630,23,Male,171,Scalpel,1.79

In [113]:
#Most Popular Items
import pandas as pd
import numpy as np

newfile = '/Users/christinemagnotta/pandas-challenge/HeroesOfPymoli/purchase_data.csv'
pymoliHero = pd.read_csv(newfile)

ItemAnalysis = pd.DataFrame(data=pymoliHero)
ItemAnalysis.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [ ]:
#Identify the 5 most popular items by purchase count, then list (in a table):

#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

In [114]:
popItems = ItemAnalysis[["Item ID", "Item Name", "Price"]]

In [117]:
popItems

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778       92                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [133]:
MostPopItems = popItems.groupby(["Item Name"]).count()["Item ID"]

In [128]:
MostPopItems

Item Name
Abyssal Shard                      5
Aetherius, Boon of the Blessed     5
Agatha                             6
Alpha                              3
Alpha, Oath of Zeal                3
                                  ..
Wolf                               8
Wolf, Promise of the Moonwalker    6
Worldbreaker                       4
Yearning Crusher                   3
Yearning Mageblade                 5
Name: Item ID, Length: 179, dtype: int64

In [131]:
MostPopItems.sort_values(ascending=False) #Final Critic appears to be most popular item with 13 sales. And Oathbreaker is a close second

Item Name
Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Nirvana                                          9
Persuasion                                       9
Fiery Glass Crusader                             9
                                                ..
Alpha, Reach of Ending Hope                      1
Ghost Reaver, Longsword of Magic                 1
Gladiator's Glaive                               1
The Decapitator                                  1
Exiled Mithril Longsword                         1
Name: Item ID, Length: 179, dtype: int64

In [134]:
MostPopItems = popItems.groupby(["Item Name"]).agg({"Item ID":['count'],"Price": 'sum'})

In [135]:
MostPopItems

                                Item ID  Price
                                  count    sum
Item Name
Abyssal Shard                         5  13.35
Aetherius, Boon of the Blessed        5  16.95
Agatha                                6  18.48
Alpha                                 3   6.21
Alpha, Oath of Zeal                   3  12.15
...                                 ...    ...
Wolf                                  8  28.32
Wolf, Promise of the Moonwalker       6  26.88
Worldbreaker                          4  10.40
Yearning Crusher                      3  12.54
Yearning Mageblade                    5  19.10

[179 rows x 2 columns]

In [139]:
ItemGroupMean = ItemAnalysis.groupby(['Item ID', 'Item Name', 'Price']).agg(['sum', 'count', 'mean'])

In [140]:
ItemGroupMean   #Okay, I guess I don't need this mean. It was just fun. Also, there is some bad data here
#It's summing the purchase ID, which is really a string.

                                                           Purchase ID        \
                                                                   sum count
Item ID Item Name                                    Price
0       Splinter                                     1.28         1149     4
1       Crucifer                                     1.99          251     1
                                                     3.26         1272     3
2       Verdict                                      2.48         2006     6
3       Phantomlight                                 2.49         2087     6
...                                                                ...   ...
178     Oathbreaker, Last Hope of the Breaking Storm 4.23         4960    12
179     Wolf, Promise of the Moonwalker              4.48         1948     6
181     Reaper's Toll                                1.66         1278     5
182     Toothpick                                    4.03         1327     3
183     Dragon's Greatsword                          1.09         1488     3

                                                                        Age  \
                                                                  mean  sum
Item ID Item Name                                    Price
0       Splinter                                     1.28   287.250000   74
1       Crucifer                                     1.99   251.000000   22
                                                     3.26   424.000000   67
2       Verdict                                      2.48   334.333333  143
3       Phantomlight                                 2.49   347.833333  155
...                                                                ...  ...
178     Oathbreaker, Last Hope of the Breaking Storm 4.23   413.333333  287
179     Wolf, Promise of the Moonwalker              4.48   324.666667  126
181     Reaper's Toll                                1.66   255.600000  109
182     Toothpick                                    4.03   442.333333   67
183     Dragon's Greatsword                          1.09   496.000000   66


                                                           count       mean
Item ID Item Name                                    Price
0       Splinter                                     1.28      4  18.500000
1       Crucifer                                     1.99      1  22.000000
                                                     3.26      3  22.333333
2       Verdict                                      2.48      6  23.833333
3       Phantomlight                                 2.49      6  25.833333
...                                                          ...        ...
178     Oathbreaker, Last Hope of the Breaking Storm 4.23     12  23.916667
179     Wolf, Promise of the Moonwalker              4.48      6  21.000000
181     Reaper's Toll                                1.66      5  21.800000
182     Toothpick                                    4.03      3  22.333333
183     Dragon's Greatsword                          1.09      3  22.000000

[183 rows x 6 columns]

In [201]:
#Most Popular Items
#Identify the 5 most popular items by purchase count, then list (in a table):

#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value


import pandas as pd
import numpy as np

newfile = '/Users/christinemagnotta/pandas-challenge/HeroesOfPymoli/purchase_data.csv'
pymoliHero = pd.read_csv(newfile)

MostProfit = pd.DataFrame(data=pymoliHero)
MostProfit.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [215]:
MostProfit.groupby(["Item Name", "Item ID"]).sum()["Price"].rename("Total Purchase Price")

Item Name                        Item ID
Abyssal Shard                    162        13.35
Aetherius, Boon of the Blessed   137        16.95
Agatha                           120        18.48
Alpha                            130         6.21
Alpha, Oath of Zeal              79         12.15
                                            ...
Wolf                             60         28.32
Wolf, Promise of the Moonwalker  179        26.88
Worldbreaker                     112        10.40
Yearning Crusher                 74         12.54
Yearning Mageblade               114        19.10
Name: Total Purchase Price, Length: 179, dtype: float64

In [244]:
MostProfitable = MostProfit.groupby(["Item Name", "Item ID", "Price"]).agg(['sum'])

In [245]:
MostProfitable

,,,Purchase ID,SN,Age,Gender
,,,sum,sum,sum,sum
Item Name,Item ID,Price,,,,
Abyssal Shard,162,2.67,1140,Iskjaskst81Haisrisuir60Eulasuir89Frichadar89Eu...,111,MaleMaleMaleMaleMale
"Aetherius, Boon of the Blessed",137,3.39,2037,Iaralsuir44Isursuir31Heuli25Sondadar26Assassa81,126,MaleMaleFemaleMaleMale
Agatha,120,3.08,2305,Maridisya31Eosrirgue62Sausosia74Hisridru55Yala...,124,MaleMaleMaleMaleMaleMale
Alpha,130,2.07,2137,Idacal95Tyaelly53Irith83,65,MaleFemaleMale
"Alpha, Oath of Zeal",79,4.05,1602,Ilarin91Tyeuduen32Pheosurllorin41,68,MaleMaleFemale
...,...,...,...,...,...,...
Wolf,60,3.54,3142,Aelin32Undosian34Zhisrisu83Lassassasda30Chanja...,145,MaleMaleMaleMaleMaleMaleMaleFemale
"Wolf, Promise of the Moonwalker",179,4.48,1948,Farusrian86Iri67Siallylis44Aiduesu86Sondossa69...,126,MaleMaleMaleFemaleMaleMale
Worldbreaker,112,2.60,2446,Undare39Sondassan80Lirtistanya48Mindjasksya61,89,MaleMaleMaleMale
Yearning Crusher,74,4.18,1216,Lisast87Pheutherin27Assylla81,63,MaleMaleMale
Yearning Mageblade,114,3.82,2033,Pheusrical25Sundadar27Iduenu77Iral74Phaedasurap84,109,MaleMaleFemaleMaleMale

In [246]:
SortedProfitable = MostProfitable.sort_values("Price").sum

In [247]:
SortedProfitable

<bound method DataFrame.sum of                                                 Purchase ID  \
                                                        sum
Item Name                         Item ID Price
Whistling Mithril Warblade        125     1.00          481
War-Forged Gold Deflector         155     1.01         2326
Dawne                             12      1.02         2965
Pursuit, Cudgel of Necromancy     19      1.02         4138
Hope's End                        70      1.03         1410
...                                                     ...
Blazeguard, Reach of Eternity     128     4.91         2359
Stormfury Longsword               173     4.93          752
Hellreaver, Heirloom of Inception 147     4.93         1288
Mercy, Katana of Dismay           139     4.94         1196
Stormfury Mace                    63      4.99          743

                                                                                                SN  \
                                                                                               sum
Item Name                         Item ID Price
Whistling Mithril Warblade        125     1.00                                        Alo38Marim28
War-Forged Gold Deflector         155     1.01     Aidai61Eusurdeu49Siralsudeu54Hiaral50Chanirra79
Dawne                             12      1.02   Aina42Pheodaisun84Marilsa69Ililsasya43Eudanu84...
Pursuit, Cudgel of Necromancy     19      1.02   Eodailis27Qilalista41Frichjaskan98Isurria36Iri...
Hope's End                        70      1.03                 Saida58Lisasi93Aesurstilis64Euthe35
...                                                                                            ...
Blazeguard, Reach of Eternity     128     4.91     Firan91Aeda94Aerithnuphos61Filurarn35Lassimla92
Stormfury Longsword               173     4.93                               Smaistysu35Mindossa76
Hellreaver, Heirloom of Inception 147     4.93                    Idastidru52Strithenu87Chadjask77
Mercy, Katana of Dismay           139     4.94   Ririp86Lassilsala30Yarithsurgue62Lirtilsa71Cha...
Stormfury Mace                    63      4.99                                    Hiasri33Dyally87

                                                 Age  \
                                                 sum
Item Name                         Item ID Price
Whistling Mithril Warblade        125     1.00    45
War-Forged Gold Deflector         155     1.01   102
Dawne                             12      1.02   155
Pursuit, Cudgel of Necromancy     19      1.02   186
Hope's End                        70      1.03    78
...                                              ...
Blazeguard, Reach of Eternity     128     4.91   124
Stormfury Longsword               173     4.93    71
Hellreaver, Heirloom of Inception 147     4.93    52
Mercy, Katana of Dismay           139     4.94   110
Stormfury Mace                    63      4.99    45

                                                                             Gender
                                                                                sum
Item Name                         Item ID Price
Whistling Mithril Warblade        125     1.00                           MaleFemale
War-Forged Gold Deflector         155     1.01               MaleMaleMaleMaleFemale
Dawne                             12      1.02         MaleMaleFemaleMaleFemaleMale
Pursuit, Cudgel of Necromancy     19      1.02   MaleMaleMaleFemaleMaleMaleMaleMale
Hope's End                        70      1.03                     MaleMaleMaleMale
...                                                                             ...
Blazeguard, Reach of Eternity     128     4.91                 MaleMaleMaleMaleMale
Stormfury Longsword               173     4.93                             MaleMale
Hellreaver, Heirloom of Inception 147     4.93                         MaleMaleMale
Mercy, Katana of Dismay           139     4.94                 MaleMaleMaleMaleMale
Stormfury Mace                    63      4.99                             MaleMale

[183 rows x 4 columns]>