In [136]:
import pandas as pd
import numpy as np

In [2]:
newfile = '/Users/christinemagnotta/pandas-challenge/HeroesOfPymoli/purchase_data.csv'
pymoliHero = pd.read_csv(newfile)

In [5]:
pymoliHero

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [8]:
pymoliHero = pd.DataFrame(data=pymoliHero) #this is creating a new dataframe class, 
#Player Count

PlayersplayersData = pymoliHero.loc[:,"SN"]

In [14]:
#Player Count

cleanplayers = PlayersplayersData.drop_duplicates()

In [15]:
cleanplayers

0            Lisim78
1        Lisovynya38
2         Ithergue48
3      Chamassasya86
4          Iskosia90
           ...
773           Hala31
774       Jiskjask80
775       Aethedru70
777       Yathecal72
778          Sisur91
Name: SN, Length: 576, dtype: object

In [16]:
cleanplayers.describe() #The total number unique players is 576.

count            576
unique           576
top       Yalaeria91
freq               1
Name: SN, dtype: object

In [17]:
#Purchasing Analysis (Total)

#Number of Unique Items
#Average Purchase Price
#Total Number of Purchases
#Total Revenue


pymoliHero

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [ ]:
#Number of Unique Items

In [19]:
pymoliHero.loc[:,"Item ID"]

0      108
1      143
2       92
3      100
4      131
      ...
775     60
776    164
777     67
778     92
779     50
Name: Item ID, Length: 780, dtype: int64

In [20]:
pymoliHero['Item ID'].value_counts()

92     13
178    12
108     9
132     9
82      9
       ..
104     1
27      1
134     1
118     1
91      1
Name: Item ID, Length: 179, dtype: int64

In [ ]:
#So it looks like there are 179 unique items.
#The most frequently purchased item is Item ID 92 with 13 purchases.
#But there were 780 total items purchased.
#So 179 ITEM IDs but a total of 780 purchases.

In [22]:
#Average Purchase Price
average_item_price = pymoliHero["Price"].mean()
average_item_price

3.050987179487176

In [ ]:
#The average price is $3.05

In [25]:
#Total Number of Purchases
purchase_count = pymoliHero["Price"].count()
purchase_count

780

In [ ]:
#The total number of purchases is 780.

In [26]:
#Total Revenue
total_purchase_value = pymoliHero["Price"].sum()
total_purchase_value

2379.77

In [ ]:
#The sum of all of the purcahses is $2379.77.

In [27]:
pymoliHero

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [ ]:
#Gender Demographics
#Percentage and Count of Male Players

In [37]:
gender_purchase = pymoliHero.groupby(["Gender", "SN"]).sum()["Price"]
male_purchase = gender_purchase[("Male")].unique
female_purchase = gender_purchase[("Female")].unique
other_purchase = gender_purchase[("Other / Non-Disclosed")].unique

In [38]:
male_purchase

<bound method Series.unique of SN
Adairialis76    2.28
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Aelastirin39    7.29
                ...
Yasur85         1.10
Yathecal72      3.46
Yathedeu43      6.02
Zhisrisu83      7.89
Zontibe81       8.03
Name: Price, Length: 484, dtype: float64>

In [25]:
female_purchase

<bound method Series.unique of SN
Adastirin33      4.48
Aerithllora36    8.64
Aethedru70       3.54
Aidain51         3.45
Aiduesu86        4.48
                 ...
Wailin72         2.73
Yana46           3.55
Yarithrin84      4.14
Yathecal82       6.22
Yoishirrala98    4.58
Name: Price, Length: 81, dtype: float64>

In [31]:
other_purchase

<bound method Series.unique of SN
Airi27          3.45
Chanosian48     7.52
Eodaisu60       3.94
Haerithp41      4.40
Idairin51       7.00
Jiskirran77     3.39
Lirtim36        1.33
Maluncil97      5.28
Rairith81       2.22
Siarithria38    6.91
Sundim98        4.75
Name: Price, dtype: float64>

In [28]:
####Gender Purchase Analysis


#Assignment -- The below each broken by gender

#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Gender

In [34]:
#Total Purchase Value
gender_purchase_total = pymoliHero.groupby(["Gender"]).sum()["Price"]

In [35]:
gender_purchase_total   #Total purchases by gender

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [57]:
#Purchase Count

In [40]:
gender_item_purchase = pymoliHero.groupby(["Gender"]).count()["Item ID"]

In [41]:
gender_item_purchase #total iteams per gender

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item ID, dtype: int64

In [43]:
gender_purchase_average = pymoliHero.groupby(["Gender"]).mean()["Price"]

In [44]:
#Average Purchase Total per Person by Gender
gender_purchase_average

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [29]:
#From this we can see that men purchased more items, but they spent slightly less, per person, than female and other-gendered game players.

In [45]:
#Average Purchase Total per Person by Gender
gender_unique = pymoliHero.groupby(["Gender", "SN"]).mean()["Price"]

In [46]:
gender_unique

Gender                 SN
Female                 Adastirin33      4.480
                       Aerithllora36    4.320
                       Aethedru70       3.540
                       Aidain51         3.450
                       Aiduesu86        4.480
                                        ...
Other / Non-Disclosed  Lirtim36         1.330
                       Maluncil97       2.640
                       Rairith81        2.220
                       Siarithria38     3.455
                       Sundim98         4.750
Name: Price, Length: 576, dtype: float64

In [47]:
#Age Demographics
#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Age Group


#In this I want Price, SN, which is the user UD, and Age.

In [50]:
age_purchase_value = pymoliHero.groupby(["Age"]).sum()["Price"]
age_purchase_value

Age
7      32.89
8      25.97
9      18.27
10     31.83
11     18.79
12     15.80
13      9.45
14      6.91
15    105.65
16     90.56
17     64.48
18     82.22
19     69.98
20    314.32
21    180.74
22    206.85
23    201.93
24    210.22
25    181.90
26     40.19
27     27.23
28      8.45
29     35.23
30    110.32
31     24.05
32     22.69
33     34.81
34     22.13
35     52.03
36     12.66
37     25.51
38     34.15
39     23.32
40     16.71
41      6.54
42      3.93
43      4.00
44      5.36
45      1.70
Name: Price, dtype: float64

In [54]:
age_purchase_avg = pymoliHero.groupby(["Age"]).mean()["Price"]

In [56]:
age_purchase_avg.describe()

count    39.000000
mean      3.035180
std       0.530859
min       1.690000
25%       2.716500
50%       3.018667
75%       3.352857
max       4.000000
Name: Price, dtype: float64

In [57]:
#Age Demographics
#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Age Group

pymoliHero = pd.read_csv(newfile)

pymoliAgeAnalysis = pd.DataFrame(data=pymoliHero)
pymoliAgeAnalysis.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [58]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
pymoliAgeAnalysis["Age Ranges"] = pd.cut(pymoliAgeAnalysis["Age"],age_bins, labels=group_names)

In [59]:
age_price = pymoliAgeAnalysis.groupby(["Age Ranges"]).sum()["Price"]

In [18]:
age_price
#People between the ages of 20-24, by far, spent the most money on Pymoli Heroes.

Age Ranges
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [60]:
age_count = pymoliAgeAnalysis.groupby(["Age Ranges"]).count()["Item ID"]

In [61]:
age_count
#Also, the most users were in the 20-24 age range.

Age Ranges
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Item ID, dtype: int64

In [62]:
age_price_mean = pymoliAgeAnalysis.groupby(["Age Ranges"]).mean()["Price"]

In [64]:
age_price_mean
#Although users between the ages of 20-24 spend the most money and although they have the most users, those between the ages of 35-39 spent the most per user.

Age Ranges
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [65]:
#Top Spenders
#Identify the the top 5 spenders in the game by total purchase value, then list (in a table)



spendingAnalysis = pd.DataFrame(data=pymoliHero)
spendingAnalysis.head(10)


#Identify the top 5 spenders in the game by total purchase value, then list (in a table):

#Here's the dataframe again.

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39

In [67]:
spenders = spendingAnalysis.groupby(["SN"]).sum()["Price"]

In [68]:
spenders

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [69]:
spenders.sort_values(ascending=False)

SN
Lisosia93      18.96
Idastidru52    15.45
Chamjask73     13.83
Iral74         13.62
Iskadarya95    13.10
               ...
Irilis75        1.02
Isurria36       1.02
Chanirra79      1.01
Aidai61         1.01
Alo38           1.00
Name: Price, Length: 576, dtype: float64

In [70]:
topSpenders = spenders.sort_values(ascending=False)

In [77]:
topSpenders.head(5)
#Here are the top 5 spenders in Pymoli Heroes.
#This is also the Total Purchase Value.

SN
Lisosia93      18.96
Idastidru52    15.45
Chamjask73     13.83
Iral74         13.62
Iskadarya95    13.10
Name: Price, dtype: float64

In [78]:
#Purchase Count

In [71]:
top_spenders = spendingAnalysis.groupby(['SN']).agg({"Price":[sum],"Purchase ID": 'count'})

In [86]:
top_spenders

              Price Purchase ID
                sum       count
SN
Adairialis76   2.28           1
Adastirin33    4.48           1
Aeda94         4.91           1
Aela59         4.32           1
Aelaria33      1.79           1
...             ...         ...
Yathecal82     6.22           3
Yathedeu43     6.02           2
Yoishirrala98  4.58           1
Zhisrisu83     7.89           2
Zontibe81      8.03           3

[576 rows x 2 columns]

In [87]:
top_spenders.columns

MultiIndex([(      'Price',   'sum'),
            ('Purchase ID', 'count')],
           )

In [132]:
#Top Spenders Purchase Count
top_spenders_count = top_spenders.sort_values(('Price', 'sum'), ascending=False)
top_spenders_count.head(5)
#Here is a dataframe with the number of items bought by each of the top spenders.

             Price Purchase ID
               sum       count
SN
Lisosia93    18.96           5
Idastidru52  15.45           4
Chamjask73   13.83           3
Iral74       13.62           4
Iskadarya95  13.10           3

In [99]:
#Top Spenders Average Purchase Price

In [134]:
top_5_spenders['average'] = top_5_spenders.mean(numeric_only=True, axis=1)

In [135]:
top_5_spenders

             Price Purchase ID average
               sum       count
SN
Lisosia93    18.96           5  11.980
Idastidru52  15.45           4   9.725
Chamjask73   13.83           3   8.415
Iral74       13.62           4   8.810
Iskadarya95  13.10           3   8.050

In [137]:
#Most Popular Items
pymoliHero

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [ ]:
#Identify the 5 most popular items by purchase count, then list (in a table):

#Item Name
#Purchase Count
#Total Purchase Value

In [139]:
popItems = pymoliHero[["Item ID", "Item Name", "Price"]]

In [117]:
popItems

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778       92                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [133]:
MostPopItems = popItems.groupby(["Item Name"]).count()["Item ID"]

In [128]:
MostPopItems

Item Name
Abyssal Shard                      5
Aetherius, Boon of the Blessed     5
Agatha                             6
Alpha                              3
Alpha, Oath of Zeal                3
                                  ..
Wolf                               8
Wolf, Promise of the Moonwalker    6
Worldbreaker                       4
Yearning Crusher                   3
Yearning Mageblade                 5
Name: Item ID, Length: 179, dtype: int64

In [131]:
MostPopItems.sort_values(ascending=False) #Final Critic appears to be most popular item with 13 sales. And Oathbreaker is a close second

Item Name
Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Nirvana                                          9
Persuasion                                       9
Fiery Glass Crusader                             9
                                                ..
Alpha, Reach of Ending Hope                      1
Ghost Reaver, Longsword of Magic                 1
Gladiator's Glaive                               1
The Decapitator                                  1
Exiled Mithril Longsword                         1
Name: Item ID, Length: 179, dtype: int64

In [155]:
MostPopItems = popItems.groupby(["Item Name"]).agg({"Item ID":['count'],"Price": 'sum'})
MostPopItems.columns

MultiIndex([('Item ID', 'count'),
            (  'Price',   'sum')],
           )

In [158]:
MostPopItems

                                Item ID  Price
                                  count    sum
Item Name
Abyssal Shard                         5  13.35
Aetherius, Boon of the Blessed        5  16.95
Agatha                                6  18.48
Alpha                                 3   6.21
Alpha, Oath of Zeal                   3  12.15
...                                 ...    ...
Wolf                                  8  28.32
Wolf, Promise of the Moonwalker       6  26.88
Worldbreaker                          4  10.40
Yearning Crusher                      3  12.54
Yearning Mageblade                    5  19.10

[179 rows x 2 columns]

In [172]:
MostPopItems = MostPopItems.sort_values(by=[('Item ID','count')], ascending=False)

In [173]:
MostPopItems

                                             Item ID  Price
                                               count    sum
Item Name
Final Critic                                      13  59.99
Oathbreaker, Last Hope of the Breaking Storm      12  50.76
Nirvana                                            9  44.10
Persuasion                                         9  28.99
Fiery Glass Crusader                               9  41.22
...                                              ...    ...
Undead Crusader                                    1   4.50
Riddle, Tribute of Ended Dreams                    1   3.30
Betrayer                                           1   2.94
Celeste                                            1   4.17
Exiled Mithril Longsword                           1   2.00

[179 rows x 2 columns]

In [174]:
MostProfit = MostPopItems.sort_values(by=[('Price','sum')], ascending=False)

In [175]:
MostProfit

                                             Item ID  Price
                                               count    sum
Item Name
Final Critic                                      13  59.99
Oathbreaker, Last Hope of the Breaking Storm      12  50.76
Nirvana                                            9  44.10
Fiery Glass Crusader                               9  41.22
Singed Scalpel                                     8  34.80
...                                              ...    ...
Flux, Destroyer of Due Diligence                   2   2.12
Whistling Mithril Warblade                         2   2.00
Exiled Mithril Longsword                           1   2.00
Gladiator's Glaive                                 1   1.93
The Decapitator                                    1   1.75

[179 rows x 2 columns]