In [12]:
#Age Demographics
#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Age Group


#In this I want Price, SN, which is the user UD, and Age.

import pandas as pd
import numpy as np

newfile = '/Users/christinemagnotta/pandas-challenge/HeroesOfPymoli/purchase_data.csv'
pymoliHero = pd.read_csv(newfile)

pymoliAgeAnalysis = pd.DataFrame(data=pymoliHero)
pymoliAgeAnalysis.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [33]:
age_purchase_value = pymoliAgeAnalysis.groupby(["Age"]).sum()["Price"]

In [31]:
age_purchase_value = age_purchase_total.groupby(["Age"]).sum()["Price"]

KeyError: 'Price'

In [25]:
BinnedPymoliAgeAnalysis = pymoliAgeAnalysis

In [28]:
age_purchase_value = BinnedPymoliAgeAnalysis.groupby(["Age"]).sum()["Price"]
pymoliAgeAnalysis["Age Ranges"] = pd.cut(pymoliAgeAnalysis["Age"], age_bins, labels=group_names)

In [27]:
age_purchase_value

Age
7      32.89
8      25.97
9      18.27
10     31.83
11     18.79
12     15.80
13      9.45
14      6.91
15    105.65
16     90.56
17     64.48
18     82.22
19     69.98
20    314.32
21    180.74
22    206.85
23    201.93
24    210.22
25    181.90
26     40.19
27     27.23
28      8.45
29     35.23
30    110.32
31     24.05
32     22.69
33     34.81
34     22.13
35     52.03
36     12.66
37     25.51
38     34.15
39     23.32
40     16.71
41      6.54
42      3.93
43      4.00
44      5.36
45      1.70
Name: Price, dtype: float64

In [19]:
age_purchase_value

Age
7      32.89
8      25.97
9      18.27
10     31.83
11     18.79
12     15.80
13      9.45
14      6.91
15    105.65
16     90.56
17     64.48
18     82.22
19     69.98
20    314.32
21    180.74
22    206.85
23    201.93
24    210.22
25    181.90
26     40.19
27     27.23
28      8.45
29     35.23
30    110.32
31     24.05
32     22.69
33     34.81
34     22.13
35     52.03
36     12.66
37     25.51
38     34.15
39     23.32
40     16.71
41      6.54
42      3.93
43      4.00
44      5.36
45      1.70
Name: Price, dtype: float64

In [7]:
age_purchase_avg = pymoliAgeAnalysis.groupby(["Age"]).mean()["Price"]

In [8]:
age_purchase_avg

Age
7     3.654444
8     3.246250
9     3.045000
10    3.536667
11    2.684286
12    2.633333
13    2.362500
14    3.455000
15    3.018571
16    3.018667
17    2.930909
18    3.162308
19    3.042609
20    3.174949
21    2.915161
22    2.955000
23    3.013881
24    3.137612
25    3.083051
26    2.870714
27    2.723000
28    1.690000
29    2.710000
30    3.152000
31    3.435714
32    2.836250
33    2.486429
34    2.458889
35    3.716429
36    2.532000
37    3.644286
38    3.794444
39    3.886667
40    2.785000
41    3.270000
42    3.930000
43    4.000000
44    2.680000
45    1.700000
Name: Price, dtype: float64

In [9]:
age_purchase_avg.describe

<bound method NDFrame.describe of Age
7     3.654444
8     3.246250
9     3.045000
10    3.536667
11    2.684286
12    2.633333
13    2.362500
14    3.455000
15    3.018571
16    3.018667
17    2.930909
18    3.162308
19    3.042609
20    3.174949
21    2.915161
22    2.955000
23    3.013881
24    3.137612
25    3.083051
26    2.870714
27    2.723000
28    1.690000
29    2.710000
30    3.152000
31    3.435714
32    2.836250
33    2.486429
34    2.458889
35    3.716429
36    2.532000
37    3.644286
38    3.794444
39    3.886667
40    2.785000
41    3.270000
42    3.930000
43    4.000000
44    2.680000
45    1.700000
Name: Price, dtype: float64>

In [10]:
bins = [0,10,15,20,25,30,35,40]

pd.cut(age_purchase_total["Age"], bins).head()

KeyError: 'Age'

In [34]:
#okay, NOW I need to convert all of this data into bins.


#spendingAnalysis.groupby(['SN', 'Price','Item ID']).agg(['mean', 'count'])

In [35]:
#Age Demographics Part Deux
#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Age Group


#In this I want Price, SN, which is the user UD, and Age.

import pandas as pd
import numpy as np

newfile = '/Users/christinemagnotta/pandas-challenge/HeroesOfPymoli/purchase_data.csv'
pymoliHero = pd.read_csv(newfile)

pymoliAgeAnalysis = pd.DataFrame(data=pymoliHero)
pymoliAgeAnalysis.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [43]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
pymoliAgeAnalysis["Age Ranges"] = pd.cut(pymoliAgeAnalysis["Age"],age_bins, labels=group_names)

In [72]:
age_price = pymoliAgeAnalysis.groupby(["Age Ranges"]).sum()["Price"]

In [73]:
age_price

Age Ranges
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [74]:
age_count = pymoliAgeAnalysis.groupby(["Age Ranges"]).count()["Item ID"]

In [75]:
age_count

Age Ranges
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Item ID, dtype: int64

In [76]:
age_price_mean = pymoliAgeAnalysis.groupby(["Age Ranges"]).mean()["Price"]

In [77]:
age_price_mean

Age Ranges
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64