In [4]:
import pandas as pd

newfile = '/Users/christinemagnotta/pandas-challenge/HeroesOfPymoli/purchase_data.csv'
pymoliHero = pd.read_csv(newfile)

In [10]:
pymoliHero = pd.DataFrame(data=pymoliHero) #this is creating a new dataframe class, 
playersData = pymoliHero.loc[:,"SN"]

In [12]:
playersData.drop_duplicates()

0            Lisim78
1        Lisovynya38
2         Ithergue48
3      Chamassasya86
4          Iskosia90
           ...
773           Hala31
774       Jiskjask80
775       Aethedru70
777       Yathecal72
778          Sisur91
Name: SN, Length: 576, dtype: object

In [14]:
playersData.count()  #numbers of players, minus duplicates

576

In [33]:
playersGen = pymoliHero.loc[:, "Gender"]

In [35]:
playersGen.describe

<bound method NDFrame.describe of 0        Male
1        Male
2        Male
3        Male
4        Male
        ...
775    Female
776      Male
777      Male
778      Male
779      Male
Name: Gender, Length: 780, dtype: object>

In [34]:
playersFemale = playersGen("female").count

TypeError: 'Series' object is not callable

In [19]:
playersFemale

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[780 rows x 0 columns]

In [36]:
playersData.describe

<bound method NDFrame.describe of 0            Lisim78
1        Lisovynya38
2         Ithergue48
3      Chamassasya86
4          Iskosia90
           ...
773           Hala31
774       Jiskjask80
775       Aethedru70
777       Yathecal72
778          Sisur91
Name: SN, Length: 576, dtype: object>

In [37]:
playersData.describe()

count            576
unique           576
top       Chanosia60
freq               1
Name: SN, dtype: object

In [38]:
playersData.head()

0          Lisim78
1      Lisovynya38
2       Ithergue48
3    Chamassasya86
4        Iskosia90
Name: SN, dtype: object

In [40]:
playersData.count()

576

In [46]:
playersPurchase = pd.DataFrame(pymoliHero)

In [47]:
playersPurchase.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [49]:
playersPurchase.set_index(["Item ID", "Item Name", "Price"]).count #check out data, sorted by Item ID and name, and then by age and gender...and alsos I forgot the parentheses.

<bound method DataFrame.count of                                                          Purchase ID  \
Item ID Item Name                                 Price
108     Extraction, Quickblade Of Trembling Hands 3.53             0
143     Frenzied Scimitar                         1.56             1
92      Final Critic                              4.88             2
100     Blindscythe                               3.27             3
131     Fury                                      1.44             4
...                                                              ...
60      Wolf                                      3.54           775
164     Exiled Doomblade                          1.63           776
67      Celeste, Incarnation of the Corrupted     3.46           777
92      Final Critic                              4.19           778
50      Dawn                                      4.60           779

                                                                    SN  Age  \
Item ID Item Name                                 Price
108     Extraction, Quickblade Of Trembling Hands 3.53         Lisim78   20
143     Frenzied Scimitar                         1.56     Lisovynya38   40
92      Final Critic                              4.88      Ithergue48   24
100     Blindscythe                               3.27   Chamassasya86   24
131     Fury                                      1.44       Iskosia90   23
...                                                                ...  ...
60      Wolf                                      3.54      Aethedru70   21
164     Exiled Doomblade                          1.63          Iral74   21
67      Celeste, Incarnation of the Corrupted     3.46      Yathecal72   20
92      Final Critic                              4.19         Sisur91    7
50      Dawn                                      4.60       Ennrian78   24

                                                         Gender
Item ID Item Name                                 Price
108     Extraction, Quickblade Of Trembling Hands 3.53     Male
143     Frenzied Scimitar                         1.56     Male
92      Final Critic                              4.88     Male
100     Blindscythe                               3.27     Male
131     Fury                                      1.44     Male
...                                                         ...
60      Wolf                                      3.54   Female
164     Exiled Doomblade                          1.63     Male
67      Celeste, Incarnation of the Corrupted     3.46     Male
92      Final Critic                              4.19     Male
50      Dawn                                      4.60     Male

[780 rows x 4 columns]>

In [50]:
playersPurchase.set_index(["Item ID", "Item Name", "Price"]).count() #hmm. this is me counting the items, by item ID, price and name.

Purchase ID    780
SN             780
Age            780
Gender         780
dtype: int64

In [66]:
playersPurchase.set_index(["Item ID", "Item Name", "Price"]).count

,,,Purchase ID,SN,Age,Gender
Item ID,Item Name,Price,,,,
108,"Extraction, Quickblade Of Trembling Hands",3.53,0,Lisim78,20,Male
143,Frenzied Scimitar,1.56,1,Lisovynya38,40,Male
92,Final Critic,4.88,2,Ithergue48,24,Male
100,Blindscythe,3.27,3,Chamassasya86,24,Male
131,Fury,1.44,4,Iskosia90,23,Male
...,...,...,...,...,...,...
60,Wolf,3.54,775,Aethedru70,21,Female
164,Exiled Doomblade,1.63,776,Iral74,21,Male
67,"Celeste, Incarnation of the Corrupted",3.46,777,Yathecal72,20,Male
92,Final Critic,4.19,778,Sisur91,7,Male
50,Dawn,4.60,779,Ennrian78,24,Male

In [67]:
playersPurchase.set_index(["Item ID"]).drop_duplicates()

,Purchase ID,SN,Age,Gender,Item Name,Price
Item ID,,,,,,
108,0,Lisim78,20,Male,"Extraction, Quickblade Of Trembling Hands",3.53
143,1,Lisovynya38,40,Male,Frenzied Scimitar,1.56
92,2,Ithergue48,24,Male,Final Critic,4.88
100,3,Chamassasya86,24,Male,Blindscythe,3.27
131,4,Iskosia90,23,Male,Fury,1.44
...,...,...,...,...,...,...
60,775,Aethedru70,21,Female,Wolf,3.54
164,776,Iral74,21,Male,Exiled Doomblade,1.63
67,777,Yathecal72,20,Male,"Celeste, Incarnation of the Corrupted",3.46
92,778,Sisur91,7,Male,Final Critic,4.19
50,779,Ennrian78,24,Male,Dawn,4.60

In [75]:
playersPurchase.set_index(["Item ID"]).count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item Name      780
Price          780
dtype: int64

In [76]:
uniqueItems = playersPurchase.set_index(["Item ID"]).drop_duplicates()  #I am trying to count unique items. It seems to be giving me the same values.
uniqueItems.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item Name      780
Price          780
dtype: int64

In [78]:
uniqueItems = playersPurchase.set_index(["Item ID"]).unique()

AttributeError: 'DataFrame' object has no attribute 'unique'

In [58]:
uniquePlayerItems = playersPurchase.set_index(["Item Name"]).drop_duplicates() #trying to get unique item count. didn't work

In [59]:
uniquePlayerItems.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Price          780
dtype: int64

In [94]:
playersPurchase.set_index(["Price"]).sum  #I'm trying to sum the price. instead I am indexing by it.

<bound method DataFrame.sum of        Purchase ID             SN  Age  Gender  Item ID  \
Price
3.53             0        Lisim78   20    Male      108
1.56             1    Lisovynya38   40    Male      143
4.88             2     Ithergue48   24    Male       92
3.27             3  Chamassasya86   24    Male      100
1.44             4      Iskosia90   23    Male      131
...            ...            ...  ...     ...      ...
3.54           775     Aethedru70   21  Female       60
1.63           776         Iral74   21    Male      164
3.46           777     Yathecal72   20    Male       67
4.19           778        Sisur91    7    Male       92
4.60           779      Ennrian78   24    Male       50

                                       Item Name
Price
3.53   Extraction, Quickblade Of Trembling Hands
1.56                           Frenzied Scimitar
4.88                                Final Critic
3.27                                 Blindscythe
1.44                                        Fury
...                                          ...
3.54                                        Wolf
1.63                            Exiled Doomblade
3.46       Celeste, Incarnation of the Corrupted
4.19                                Final Critic
4.60                                        Dawn

[780 rows x 6 columns]>

In [97]:
playersPurchase.loc["Price"].sum

KeyError: 'Price'

In [85]:
playersData.sum(level='Price')  #I know there are 576 unique players. now I want to find a sum of the price.

ValueError: level name Price is not the name of the index

In [91]:
uniquePlayerItems = playersPurchase(axis="Price")

TypeError: 'DataFrame' object is not callable

In [92]:
uniquePlayerItems.sum()

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [1]:
#okay. this got way too messy, so I redid this as


#Purchasing analysis

import pandas as pd

newfile = '/Users/christinemagnotta/pandas-challenge/HeroesOfPymoli/purchase_data.csv'
pymoliHero = pd.read_csv(newfile)

pymoliHero = pd.DataFrame(data=pymoliHero) #this is creating a new dataframe class,

pymoliUnique = pymoliHero.drop_duplicates()
average_item_price = pymoliHero["Price"].mean()
total_purchase_value = pymoliHero["Price"].sum()
purchase_count = pymoliHero["Price"].count()

In [2]:
pymoliUnique    #this should get me the number of unique items, without duplicates.

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [4]:
average_item_price = pymoliHero["Price"].mean()

In [5]:
average_item_price   #average price

3.050987179487176

In [6]:
total_purchase_value

2379.77

In [7]:
purchase_count

780

In [8]:
#Ooops. Forgot to get the total number of players. I will count by SN

total_players = pymoliHero["SN"].count()

In [9]:
total_players

780

In [11]:
#just for my own piece of mind, I am going to see if there are any duplicate players.
total_players2 = pymoliHero["SN"].drop_duplicates()

In [12]:
total_players2.count

<bound method Series.count of 0            Lisim78
1        Lisovynya38
2         Ithergue48
3      Chamassasya86
4          Iskosia90
           ...
773           Hala31
774       Jiskjask80
775       Aethedru70
777       Yathecal72
778          Sisur91
Name: SN, Length: 576, dtype: object>

In [13]:
#Hey! There were duplicates! The total number of players was 576.

In [14]:
#Gender Demographics


pymoli_gender = pymoliHero["Gender"]

#playersGen = pymoliHero.loc[:, "Gender"]
#playersFemale = playersGen("female").count

In [15]:
pymoli_gender   #just checking that I am getting the data by gender

0        Male
1        Male
2        Male
3        Male
4        Male
        ...
775    Female
776      Male
777      Male
778      Male
779      Male
Name: Gender, Length: 780, dtype: object

In [18]:
pymoli_gender.mode()

0    Male
dtype: object

In [27]:
pymoli_male_count = pymoli_gender.str.count("Male").sum() #.words.str.count("he|wo")  That is what I found from stackoverlow. That got me an error. Took out "words" and that worked.

In [29]:
pymoli_male_count

652

In [30]:
#Yay! Males make up 652 of the users...but...oops! There are 576 unique SNs. Blerg. Try again, with drop_duplicates.

In [32]:
pymoli_gender = total_players2["Gender"]
pymoli_male_count = pymoli_gender.str.count("Male").sum()   #I tried to use the dropped duplicate variable but it didn't work because I didn't have Gender anymore.

KeyError: 'Gender'

In [33]:
pymoli_gender = pymoliHero["Gender"]
unique_pymoli_gender = pymoli_gender.drop_duplicates

In [36]:
pymoli_male_count = unique_pymoli_gender.str.count("Male").sum()   #unique_pymoli_gender. i got an error on this, but then I realized I cant do it this way anyway.

AttributeError: 'function' object has no attribute 'str'

In [35]:
pymoli_male_count

652

In [18]:
pymoli_gender = pymoliHero["Gender", "SN"]
unique_pymoli_gender = pymoli_gender.drop_duplicates

NameError: name 'pymoliHero' is not defined

In [17]:
gender_players2 = pymoliHero["SN", "Gender"].drop_duplicates()

#total_players2 = pymoliHero["SN"].drop_duplicates() Okay, let's try again

NameError: name 'pymoliHero' is not defined

In [2]:
#Gender Demographics, Part Deux.
#I'm going to try to reset the data.

import pandas as pd

newfile = '/Users/christinemagnotta/pandas-challenge/HeroesOfPymoli/purchase_data.csv'
pymoliHero = pd.read_csv(newfile)

pymoliGenderData = pd.DataFrame(data=pymoliHero)

In [3]:
pymoliGenderData.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [16]:
gender_purchase = pymoliGenderData.groupby(["Gender", "SN"]).sum()["Price"]

NameError: name 'pymoliGenderData' is not defined

In [15]:
male_purchase = gender_purchase[("Male")].unique

NameError: name 'gender_purchase' is not defined

In [19]:
male_purchase

NameError: name 'male_purchase' is not defined

In [14]:
female_purchase = gender_purchase[("Female")].unique

NameError: name 'gender_purchase' is not defined

In [13]:
female_purchase #484 Males + 81 Females. There are 576 unique users so I am hoping I get 11 Other / Non-Disclosed

NameError: name 'female_purchase' is not defined

In [24]:
other_purchase = gender_purchase[("Other / Non-Disclosed")].unique

In [25]:
other_purchase   #wooohooo! I did it!

<bound method Series.unique of SN
Airi27          3.45
Chanosian48     7.52
Eodaisu60       3.94
Haerithp41      4.40
Idairin51       7.00
Jiskirran77     3.39
Lirtim36        1.33
Maluncil97      5.28
Rairith81       2.22
Siarithria38    6.91
Sundim98        4.75
Name: Price, dtype: float64>

In [30]:
gender_purchase.describe

<bound method NDFrame.describe of Gender                 SN
Female                 Adastirin33      4.48
                       Aerithllora36    8.64
                       Aethedru70       3.54
                       Aidain51         3.45
                       Aiduesu86        4.48
                                        ...
Other / Non-Disclosed  Lirtim36         1.33
                       Maluncil97       5.28
                       Rairith81        2.22
                       Siarithria38     6.91
                       Sundim98         4.75
Name: Price, Length: 576, dtype: float64>

#gender purchase

gender_percentage = (female_purchase/576),(other_purchase/576),(male_purchase/576)

In [8]:
#gender percentage

female_purchase.sum/576

NameError: name 'female_purchase' is not defined

In [5]:
other_percentage

NameError: name 'other_percentage' is not defined

In [20]:
#Okay, I seem to have lost everything. This is annoying.

#Gender Demographics, Part Trois.
#I'm going to try to re-reset the data.

import pandas as pd

newfile = '/Users/christinemagnotta/pandas-challenge/HeroesOfPymoli/purchase_data.csv'
pymoliHero = pd.read_csv(newfile)

pymoliGenderData = pd.DataFrame(data=pymoliHero)
pymoliGenderData.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [23]:
gender_purchase = pymoliGenderData.groupby(["Gender", "SN"]).sum()["Price"]
male_purchase = gender_purchase[("Male")].unique
female_purchase = gender_purchase[("Female")].unique
other_purchase = gender_purchase[("Other / Non-Disclosed")].unique

In [24]:
male_purchase

<bound method Series.unique of SN
Adairialis76    2.28
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Aelastirin39    7.29
                ...
Yasur85         1.10
Yathecal72      3.46
Yathedeu43      6.02
Zhisrisu83      7.89
Zontibe81       8.03
Name: Price, Length: 484, dtype: float64>

In [25]:
female_purchase

<bound method Series.unique of SN
Adastirin33      4.48
Aerithllora36    8.64
Aethedru70       3.54
Aidain51         3.45
Aiduesu86        4.48
                 ...
Wailin72         2.73
Yana46           3.55
Yarithrin84      4.14
Yathecal82       6.22
Yoishirrala98    4.58
Name: Price, Length: 81, dtype: float64>

In [31]:
other_purchase

<bound method Series.unique of SN
Airi27          3.45
Chanosian48     7.52
Eodaisu60       3.94
Haerithp41      4.40
Idairin51       7.00
Jiskirran77     3.39
Lirtim36        1.33
Maluncil97      5.28
Rairith81       2.22
Siarithria38    6.91
Sundim98        4.75
Name: Price, dtype: float64>

In [33]:
other_purchase.count

AttributeError: 'function' object has no attribute 'count'

In [35]:
pymoliGenderData.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [37]:
#Male = 484/576 = 84%
#Female = 81/576 = 14%
#Other = 11/576 = 2%
#this is cheating. but I did try several ways to get the percentage and I felt like I had gotten to the point where I needed to move on.

In [52]:
####Gender Purchase Analysis


import pandas as pd

newfile = '/Users/christinemagnotta/pandas-challenge/HeroesOfPymoli/purchase_data.csv'
pymoliHero = pd.read_csv(newfile)

pymoliGenderAnalysis = pd.DataFrame(data=pymoliHero)
pymoliGenderAnalysis.head(10)



#Assignment -- The below each broken by gender

#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Gender

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [53]:
gender_purchase_total = pymoliGenderAnalysis.groupby(["Gender"]).sum()["Price"]

In [54]:
gender_purchase_total   #Total purchases by gender

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [57]:
gender_item_purchase = pymoliGenderAnalysis.groupby(["Gender"]).sum()["Item ID"]

In [58]:
gender_item_purchase   #ooops. this is adding up the item IS. which isn't counting the # of items

Gender
Female                    9659
Male                     60698
Other / Non-Disclosed     1212
Name: Item ID, dtype: int64

In [59]:
gender_item_purchase = pymoliGenderAnalysis.groupby(["Gender"]).count()["Item ID"]

In [60]:
gender_item_purchase #total iteams per gender

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item ID, dtype: int64

In [61]:
#WOOOO! That makes a lot more sense.

In [63]:
gender_purchase_average = pymoliGenderAnalysis.groupby(["Gender"]).mean()["Price"]

In [64]:
gender_purchase_average   #average purchase price by gender.

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [65]:
gender_unique = pymoliGenderAnalysis.groupby(["Gender", "SN"]).mean()["Price"]

In [68]:
gender_unique

Gender                 SN
Female                 Adastirin33      4.480
                       Aerithllora36    4.320
                       Aethedru70       3.540
                       Aidain51         3.450
                       Aiduesu86        4.480
                                        ...
Other / Non-Disclosed  Lirtim36         1.330
                       Maluncil97       2.640
                       Rairith81        2.220
                       Siarithria38     3.455
                       Sundim98         4.750
Name: Price, Length: 576, dtype: float64

In [69]:
#Average Purchase Total per Person by Gender
#Okay, I want to find the average -- or mean -- of the purcahse per person or SN by gender.
#Do I want to groupby gender and then mean price then divide by SN???

#Let's see.

In [70]:
average_gender = pymoliGenderAnalysis.groupby(["Gender"]).mean()["Price"]/"SN"

TypeError: ufunc 'true_divide' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [72]:
#Well, that was silly. You can divide string.


gender_item_purchase = pymoliGenderAnalysis.groupby(["Gender"]).count()["Item ID"].mean()["Price"]

TypeError: 'float' object is not subscriptable