In [10]:
import pandas as pd

newfile = '/Users/christinemagnotta/pandas-challenge/HeroesOfPymoli/purchase_data.csv'
pymoliHero = pd.read_csv(newfile)

In [11]:
pymoliHero = pd.DataFrame(data=pymoliHero) #this is creating a new dataframe class, 
playersData = pymoliHero.loc[:,"SN"]

In [12]:
playersData.drop_duplicates()

0            Lisim78
1        Lisovynya38
2         Ithergue48
3      Chamassasya86
4          Iskosia90
           ...
773           Hala31
774       Jiskjask80
775       Aethedru70
777       Yathecal72
778          Sisur91
Name: SN, Length: 576, dtype: object

In [13]:
playersData.count()  #numbers of players, minus duplicates

780

In [14]:
playersGen = pymoliHero.loc[:, "Gender"]

In [15]:
playersGen.describe

<bound method NDFrame.describe of 0        Male
1        Male
2        Male
3        Male
4        Male
        ...
775    Female
776      Male
777      Male
778      Male
779      Male
Name: Gender, Length: 780, dtype: object>

In [17]:
playersData.describe()

count           780
unique          576
top       Lisosia93
freq              5
Name: SN, dtype: object

In [18]:
playersData.head()

0          Lisim78
1      Lisovynya38
2       Ithergue48
3    Chamassasya86
4        Iskosia90
Name: SN, dtype: object

In [19]:
playersData.count()

780

In [20]:
playersPurchase = pd.DataFrame(pymoliHero)

In [21]:
playersPurchase.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [22]:
playersPurchase.set_index(["Item ID", "Item Name", "Price"]).count() #check out data, sorted by Item ID and name, and then by age and gender...and alsos I forgot the parentheses.

Purchase ID    780
SN             780
Age            780
Gender         780
dtype: int64

In [23]:
playersPurchase.set_index(["Item ID", "Item Name", "Price"]).count() #hmm. this is me counting the items, by item ID, price and name.

Purchase ID    780
SN             780
Age            780
Gender         780
dtype: int64

In [25]:
playersPurchase.set_index(["Item ID"]).drop_duplicates()

,Purchase ID,SN,Age,Gender,Item Name,Price
Item ID,,,,,,
108,0,Lisim78,20,Male,"Extraction, Quickblade Of Trembling Hands",3.53
143,1,Lisovynya38,40,Male,Frenzied Scimitar,1.56
92,2,Ithergue48,24,Male,Final Critic,4.88
100,3,Chamassasya86,24,Male,Blindscythe,3.27
131,4,Iskosia90,23,Male,Fury,1.44
...,...,...,...,...,...,...
60,775,Aethedru70,21,Female,Wolf,3.54
164,776,Iral74,21,Male,Exiled Doomblade,1.63
67,777,Yathecal72,20,Male,"Celeste, Incarnation of the Corrupted",3.46
92,778,Sisur91,7,Male,Final Critic,4.19
50,779,Ennrian78,24,Male,Dawn,4.60

In [26]:
playersPurchase.set_index(["Item ID"]).count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item Name      780
Price          780
dtype: int64

In [27]:
uniqueItems = playersPurchase.set_index(["Item ID"]).drop_duplicates()  #I am trying to count unique items. It seems to be giving me the same values.
uniqueItems.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item Name      780
Price          780
dtype: int64

In [30]:
uniquePlayerItems = playersPurchase.set_index(["Item Name"]).drop_duplicates() #trying to get unique item count. didn't work

In [31]:
uniquePlayerItems.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Price          780
dtype: int64

In [42]:
#playersPurchase.set_index(["Price"]).sum()  #I'm trying to sum the price. instead I am indexing by it.

In [44]:
#playersPurchase.loc["Price"].sum()

In [46]:
playersData.sum(level='Price')  #I know there are 576 unique players. now I want to find a sum of the price.

ValueError: level name Price is not the name of the index

In [47]:
uniquePlayerItems = playersPurchase(axis="Price")

TypeError: 'DataFrame' object is not callable

In [48]:
uniquePlayerItems.sum()

Purchase ID                                               303810
SN             Lisim78Lisovynya38Ithergue48Chamassasya86Iskos...
Age                                                        17717
Gender         MaleMaleMaleMaleMaleMaleMaleMaleMaleOther / No...
Item ID                                                    71569
Price                                                    2379.77
dtype: object

In [49]:
#okay. this got way too messy, so I redid this as


#Purchasing analysis

import pandas as pd

newfile = '/Users/christinemagnotta/pandas-challenge/HeroesOfPymoli/purchase_data.csv'
pymoliHero = pd.read_csv(newfile)

pymoliHero = pd.DataFrame(data=pymoliHero) #this is creating a new dataframe class,

pymoliUnique = pymoliHero.drop_duplicates()
average_item_price = pymoliHero["Price"].mean()
total_purchase_value = pymoliHero["Price"].sum()
purchase_count = pymoliHero["Price"].count()

In [50]:
pymoliUnique    #this should get me the number of unique items, without duplicates.

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [51]:
average_item_price = pymoliHero["Price"].mean()

In [52]:
average_item_price   #average price

3.050987179487176

In [53]:
total_purchase_value

2379.77

In [54]:
purchase_count

780

In [55]:
#Ooops. Forgot to get the total number of players. I will count by SN

total_players = pymoliHero["SN"].count()

In [56]:
total_players

780

In [57]:
#just for my own piece of mind, I am going to see if there are any duplicate players.
total_players2 = pymoliHero["SN"].drop_duplicates()

In [58]:
total_players2.count

<bound method Series.count of 0            Lisim78
1        Lisovynya38
2         Ithergue48
3      Chamassasya86
4          Iskosia90
           ...
773           Hala31
774       Jiskjask80
775       Aethedru70
777       Yathecal72
778          Sisur91
Name: SN, Length: 576, dtype: object>

In [59]:
#Hey! There were duplicates! The total number of players was 576.

In [60]:
#Gender Demographics


pymoli_gender = pymoliHero["Gender"]

#playersGen = pymoliHero.loc[:, "Gender"]
#playersFemale = playersGen("female").count

In [61]:
pymoli_gender   #just checking that I am getting the data by gender

0        Male
1        Male
2        Male
3        Male
4        Male
        ...
775    Female
776      Male
777      Male
778      Male
779      Male
Name: Gender, Length: 780, dtype: object

In [62]:
pymoli_gender.mode()

0    Male
dtype: object

In [63]:
pymoli_male_count = pymoli_gender.str.count("Male").sum() #.words.str.count("he|wo")  That is what I found from stackoverlow. That got me an error. Took out "words" and that worked.

In [64]:
pymoli_male_count

652

In [65]:
#Yay! Males make up 652 of the users...but...oops! There are 576 unique SNs. Blerg. Try again, with drop_duplicates.

In [67]:
#pymoli_gender = total_players2["Gender"]
#pymoli_male_count = pymoli_gender.str.count("Male").sum()   #I tried to use the dropped duplicate variable but it didn't work because I didn't have Gender anymore.

In [68]:
pymoli_gender = pymoliHero["Gender"]
unique_pymoli_gender = pymoli_gender.drop_duplicates

In [69]:
#pymoli_male_count = unique_pymoli_gender.str.count("Male").sum()   #unique_pymoli_gender. i got an error on this, but then I realized I cant do it this way anyway.

AttributeError: 'function' object has no attribute 'str'

In [70]:
pymoli_male_count

652

In [74]:
#pymoli_gender = pymoliHero["Gender", "SN"]
#unique_pymoli_gender = pymoli_gender.drop_duplicates

In [75]:
#gender_players2 = pymoliHero["SN", "Gender"].drop_duplicates()

#total_players2 = pymoliHero["SN"].drop_duplicates() Okay, let's try again

In [78]:
#Gender Demographics, Part Deux.
#I'm going to try to reset the data.

import pandas as pd

newfile = '/Users/christinemagnotta/pandas-challenge/HeroesOfPymoli/purchase_data.csv'
pymoliHero = pd.read_csv(newfile)

pymoliGenderData = pd.DataFrame(data=pymoliHero)

In [79]:
pymoliGenderData.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [88]:
gender_purchase = pymoliGenderData.groupby(["Gender", "SN"]).sum()["Price"]

In [85]:
male_purchase = gender_purchase[("Male")].unique()

In [ ]:
male_purchase

In [87]:
female_purchase = gender_purchase[("Female")].unique()

In [89]:
female_purchase #484 Males + 81 Females. There are 576 unique users so I am hoping I get 11 Other / Non-Disclosed

array([ 4.48,  8.64,  3.54,  3.45,  2.89,  3.51,  4.9 ,  1.33,  9.03,
        3.94,  2.05,  8.55,  3.05, 13.83,  3.7 ,  1.01,  4.32,  3.49,
        2.85,  1.02,  7.34,  1.79,  4.43,  4.4 ,  5.91,  4.46,  3.47,
        6.55,  1.54, 11.84,  3.82,  6.17,  4.94,  2.22,  6.49,  1.7 ,
        7.3 ,  2.96,  1.94,  2.73,  3.53,  5.25,  4.33,  3.75,  2.37,
        3.85,  6.64,  5.38, 10.3 ,  3.08,  4.23,  4.18,  8.82,  3.39,
        5.43,  3.81,  5.66,  4.  ,  4.24,  1.4 ,  3.26,  2.07, 11.83,
        2.49,  8.13,  3.55,  4.14,  6.22,  4.58])

In [90]:
other_purchase = gender_purchase[("Other / Non-Disclosed")].unique()

In [91]:
other_purchase   #wooohooo! I did it!

array([3.45, 7.52, 3.94, 4.4 , 7.  , 3.39, 1.33, 5.28, 2.22, 6.91, 4.75])

In [93]:
gender_purchase.describe()

count    576.000000
mean       4.131545
std        2.404705
min        1.000000
25%        2.450000
50%        3.720000
75%        4.902500
max       18.960000
Name: Price, dtype: float64

#gender purchase

gender_percentage = (female_purchase/576),(other_purchase/576),(male_purchase/576)

In [96]:
#gender percentage #Average amount spent per person for females.

female_purchase.sum()/81

3.9690123456790123

In [97]:
male_purchase.sum()/484 #Average amount spent per person for males.

2.4948140495867763

In [100]:
other_purchase.sum()/11  #Average amount spent per person of other/non-commited gender.

4.5627272727272725

In [102]:
#Okay, I seem to have lost everything. This is annoying.

#Gender Demographics, Part Trois.
#I'm going to try to re-reset the data.

import pandas as pd

newfile = '/Users/christinemagnotta/pandas-challenge/HeroesOfPymoli/purchase_data.csv'
pymoliHero = pd.read_csv(newfile)

pymoliGenderData = pd.DataFrame(data=pymoliHero)
pymoliGenderData.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [109]:
gender_purchase = pymoliGenderData.groupby(["Gender", "SN"]).sum()["Price"]
male_purchase = gender_purchase[("Male")].unique()
female_purchase = gender_purchase[("Female")].unique()
other_purchase = gender_purchase[("Other / Non-Disclosed")].unique()

In [110]:
male_purchase

array([ 2.28,  4.91,  4.32,  1.79,  7.29,  1.09,  8.98,  6.79,  3.74,
        3.08,  5.63,  2.96,  4.4 ,  4.  ,  4.8 ,  4.09,  1.61,  3.33,
        1.56,  2.18,  1.76,  3.91,  5.38,  2.21,  1.03,  4.6 ,  1.01,
        7.86,  4.23,  7.58,  1.1 ,  9.22,  3.09,  1.14,  6.78,  4.84,
        2.49,  3.45,  3.27,  4.31,  2.5 ,  1.  ,  5.7 ,  5.58,  1.55,
        9.09,  1.7 ,  3.39,  6.63,  4.48,  1.75,  1.54,  3.19,  5.92,
        4.35,  4.18,  7.44,  4.74,  6.12,  5.18,  4.58,  6.03,  4.29,
        2.05,  8.35,  4.93,  3.87, 11.46,  1.98,  3.14,  3.07,  3.92,
        4.64,  6.3 ,  5.36,  2.22,  3.58,  2.84,  1.77,  8.82,  6.58,
        2.52,  2.08,  6.15,  4.94,  3.16,  5.17,  5.42,  1.97,  6.28,
        3.97,  4.99,  4.88,  1.74,  6.08,  5.76,  3.4 ,  2.04,  3.1 ,
        4.14,  2.67,  4.55,  2.85,  1.6 ,  1.29,  5.19,  3.75,  3.53,
        4.08,  5.89,  3.93,  1.44,  4.43,  1.02,  8.37,  1.63,  8.57,
        3.81,  3.77,  1.66,  9.5 ,  6.86,  7.11,  3.47,  4.19,  7.49,
        3.61,  2.71,  1.71,  3.23,  7.62,  5.49,  6.25,  3.32,  4.07,
        2.07,  8.23,  7.59,  3.15, 15.45, 12.7 ,  5.06,  7.35,  3.54,
        2.89,  3.3 , 11.11, 13.62, 11.37,  3.79,  4.86, 13.1 ,  3.46,
        1.33,  3.03,  4.42,  6.97,  1.87,  5.98,  4.9 ,  9.29,  4.65,
       11.51,  8.17,  3.44,  1.94,  2.27,  2.48,  6.84,  5.43,  7.33,
        4.38,  4.56,  3.24,  3.48,  2.92,  2.94,  6.6 ,  5.66, 10.02,
        3.83,  3.36,  8.86,  3.65, 18.96,  3.12,  1.4 ,  2.38,  7.52,
        2.37,  2.7 ,  4.66,  4.76,  5.31,  5.48,  1.28,  2.6 ,  3.69,
        3.82,  8.31,  7.16,  1.48,  7.07,  8.73,  9.05,  8.83,  6.36,
        3.41,  9.18, 10.33,  6.61,  6.71,  7.26, 10.37,  4.24,  8.48,
        2.45,  6.69,  6.47,  7.89, 10.18,  8.71,  7.78,  4.46,  2.42,
        7.71,  4.05,  4.14,  5.05,  7.39,  5.36,  4.04,  5.47,  5.32,
        8.3 ,  6.54,  5.35,  1.06,  4.75,  6.02,  7.89,  8.03])

In [111]:
female_purchase

array([ 4.48,  8.64,  3.54,  3.45,  2.89,  3.51,  4.9 ,  1.33,  9.03,
        3.94,  2.05,  8.55,  3.05, 13.83,  3.7 ,  1.01,  4.32,  3.49,
        2.85,  1.02,  7.34,  1.79,  4.43,  4.4 ,  5.91,  4.46,  3.47,
        6.55,  1.54, 11.84,  3.82,  6.17,  4.94,  2.22,  6.49,  1.7 ,
        7.3 ,  2.96,  1.94,  2.73,  3.53,  5.25,  4.33,  3.75,  2.37,
        3.85,  6.64,  5.38, 10.3 ,  3.08,  4.23,  4.18,  8.82,  3.39,
        5.43,  3.81,  5.66,  4.  ,  4.24,  1.4 ,  3.26,  2.07, 11.83,
        2.49,  8.13,  3.55,  4.14,  6.22,  4.58])

In [112]:
other_purchase

array([3.45, 7.52, 3.94, 4.4 , 7.  , 3.39, 1.33, 5.28, 2.22, 6.91, 4.75])

In [ ]:
#Male = 484/576 = 84%
#Female = 81/576 = 14%
#Other = 11/576 = 2%
#this is cheating. but I did try several ways to get the percentage and I felt like I had gotten to the point where I needed to move on.

In [116]:
####Gender Purchase Analysis


import pandas as pd

newfile = '/Users/christinemagnotta/pandas-challenge/HeroesOfPymoli/purchase_data.csv'
pymoliHero = pd.read_csv(newfile)

pymoliGenderAnalysis = pd.DataFrame(data=pymoliHero)
pymoliGenderAnalysis.head(10)



#Assignment -- The below each broken by gender

#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Gender

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [117]:
gender_purchase_total = pymoliGenderAnalysis.groupby(["Gender"]).sum()["Price"]

In [118]:
gender_purchase_total   #Total purchases by gender

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [119]:
gender_item_purchase = pymoliGenderAnalysis.groupby(["Gender"]).sum()["Item ID"]

In [120]:
gender_item_purchase   #ooops. this is adding up the item IS. which isn't counting the # of items

Gender
Female                    9659
Male                     60698
Other / Non-Disclosed     1212
Name: Item ID, dtype: int64

In [122]:
gender_item_purchase = pymoliGenderAnalysis.groupby(["Gender"]).count()["Item ID"]

In [123]:
gender_item_purchase #total iteams per gender

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item ID, dtype: int64

In [126]:
#WOOOO! That makes a lot more sense.

In [127]:
gender_purchase_average = pymoliGenderAnalysis.groupby(["Gender"]).mean()["Price"]

In [128]:
gender_purchase_average   #average purchase price by gender.

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [129]:
gender_unique = pymoliGenderAnalysis.groupby(["Gender", "SN"]).mean()["Price"]

In [130]:
gender_unique

Gender                 SN
Female                 Adastirin33      4.480
                       Aerithllora36    4.320
                       Aethedru70       3.540
                       Aidain51         3.450
                       Aiduesu86        4.480
                                        ...
Other / Non-Disclosed  Lirtim36         1.330
                       Maluncil97       2.640
                       Rairith81        2.220
                       Siarithria38     3.455
                       Sundim98         4.750
Name: Price, Length: 576, dtype: float64

In [ ]:
#Average Purchase Total per Person by Gender
#Okay, I want to find the average -- or mean -- of the purcahse per person or SN by gender.
#Do I want to groupby gender and then mean price then divide by SN???

#Let's see.

In [136]:
average_gender = pymoliGenderAnalysis.groupby(["Gender"]).mean()["Price"]
average_gender

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [142]:
#Age Demographics
#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Age Group


#In this I want Price, SN, which is the user UD, and Age.

import pandas as pd
import numpy as np

newfile = '/Users/christinemagnotta/pandas-challenge/HeroesOfPymoli/purchase_data.csv'
pymoliHero = pd.read_csv(newfile)

pymoliAgeAnalysis = pd.DataFrame(data=pymoliHero)
pymoliAgeAnalysis.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [147]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
pymoliAgeAnalysis["Age Ranges"] = pd.cut(pymoliAgeAnalysis["Age"],age_bins, labels=group_names)

In [148]:
age_purchase_value = pymoliAgeAnalysis.groupby(["Age"]).sum()["Price"]

In [150]:
BinnedPymoliAgeAnalysis = pymoliAgeAnalysis

In [151]:
age_purchase_value = BinnedPymoliAgeAnalysis.groupby(["Age"]).sum()["Price"]
pymoliAgeAnalysis["Age Ranges"] = pd.cut(pymoliAgeAnalysis["Age"], age_bins, labels=group_names)

In [27]:
age_purchase_value

Age
7      32.89
8      25.97
9      18.27
10     31.83
11     18.79
12     15.80
13      9.45
14      6.91
15    105.65
16     90.56
17     64.48
18     82.22
19     69.98
20    314.32
21    180.74
22    206.85
23    201.93
24    210.22
25    181.90
26     40.19
27     27.23
28      8.45
29     35.23
30    110.32
31     24.05
32     22.69
33     34.81
34     22.13
35     52.03
36     12.66
37     25.51
38     34.15
39     23.32
40     16.71
41      6.54
42      3.93
43      4.00
44      5.36
45      1.70
Name: Price, dtype: float64

In [19]:
age_purchase_value

Age
7      32.89
8      25.97
9      18.27
10     31.83
11     18.79
12     15.80
13      9.45
14      6.91
15    105.65
16     90.56
17     64.48
18     82.22
19     69.98
20    314.32
21    180.74
22    206.85
23    201.93
24    210.22
25    181.90
26     40.19
27     27.23
28      8.45
29     35.23
30    110.32
31     24.05
32     22.69
33     34.81
34     22.13
35     52.03
36     12.66
37     25.51
38     34.15
39     23.32
40     16.71
41      6.54
42      3.93
43      4.00
44      5.36
45      1.70
Name: Price, dtype: float64

In [7]:
age_purchase_avg = pymoliAgeAnalysis.groupby(["Age"]).mean()["Price"]

In [8]:
age_purchase_avg

Age
7     3.654444
8     3.246250
9     3.045000
10    3.536667
11    2.684286
12    2.633333
13    2.362500
14    3.455000
15    3.018571
16    3.018667
17    2.930909
18    3.162308
19    3.042609
20    3.174949
21    2.915161
22    2.955000
23    3.013881
24    3.137612
25    3.083051
26    2.870714
27    2.723000
28    1.690000
29    2.710000
30    3.152000
31    3.435714
32    2.836250
33    2.486429
34    2.458889
35    3.716429
36    2.532000
37    3.644286
38    3.794444
39    3.886667
40    2.785000
41    3.270000
42    3.930000
43    4.000000
44    2.680000
45    1.700000
Name: Price, dtype: float64

In [9]:
age_purchase_avg.describe

<bound method NDFrame.describe of Age
7     3.654444
8     3.246250
9     3.045000
10    3.536667
11    2.684286
12    2.633333
13    2.362500
14    3.455000
15    3.018571
16    3.018667
17    2.930909
18    3.162308
19    3.042609
20    3.174949
21    2.915161
22    2.955000
23    3.013881
24    3.137612
25    3.083051
26    2.870714
27    2.723000
28    1.690000
29    2.710000
30    3.152000
31    3.435714
32    2.836250
33    2.486429
34    2.458889
35    3.716429
36    2.532000
37    3.644286
38    3.794444
39    3.886667
40    2.785000
41    3.270000
42    3.930000
43    4.000000
44    2.680000
45    1.700000
Name: Price, dtype: float64>

In [34]:
#okay, NOW I need to convert all of this data into bins.


#spendingAnalysis.groupby(['SN', 'Price','Item ID']).agg(['mean', 'count'])

In [35]:
#Age Demographics Part Deux
#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Age Group


#In this I want Price, SN, which is the user UD, and Age.

import pandas as pd
import numpy as np

newfile = '/Users/christinemagnotta/pandas-challenge/HeroesOfPymoli/purchase_data.csv'
pymoliHero = pd.read_csv(newfile)

pymoliAgeAnalysis = pd.DataFrame(data=pymoliHero)
pymoliAgeAnalysis.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [43]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
pymoliAgeAnalysis["Age Ranges"] = pd.cut(pymoliAgeAnalysis["Age"],age_bins, labels=group_names)

In [72]:
age_price = pymoliAgeAnalysis.groupby(["Age Ranges"]).sum()["Price"]

In [73]:
age_price

Age Ranges
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [74]:
age_count = pymoliAgeAnalysis.groupby(["Age Ranges"]).count()["Item ID"]

In [75]:
age_count

Age Ranges
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Item ID, dtype: int64

In [76]:
age_price_mean = pymoliAgeAnalysis.groupby(["Age Ranges"]).mean()["Price"]

In [77]:
age_price_mean

Age Ranges
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64